.mag-main-color {
    color: var(--mag-main-color);
}

.mag-secondary-color {
    color: var(--mag-secondary-color);
}

.mag-btn-secondary-color {
    background-color: var(--mag-secondary-color);
    border-color: var(--mag-secondary-color);
    color: white;
}

.mag-btn:hover {
    filter: grayscale(20%);
    color: white;
}

.mag-card-footer {
    background-color: unset;
    border-top: unset;
}

.mag-btn-success {
    background-color: var(--mag-success-color);
    color: white;
    border-color: var(--mag-success-color);
}